{% load static %}
{% comment %} {% load active_link_tags %} {% endcomment %}
<div class="sidebar" id="sidebar">
    <div class="sidebar-inner slimscroll">
       <div id="sidebar-menu" class="sidebar-menu">
         {% if user.user_type == '1' %}
          <ul>
             <li class="menu-title">
                <span>Main Menu</span>
             </li>
             <li class="submenu active">
                <a href="#"><i class="fas fa-user-graduate"></i> <span> Dashboard</span> <span class="menu-arrow"></span></a>
                <ul>
                   <li><a href="{% url "admin_home" %}" class="active">Admin Dashboard</a></li>
                </ul>
             </li>

             <li>
               <a href="{% url "Student_registration_list" %}"><i class="fas fa-user-graduate"></i> <span> Student Registraion</a>
            </li>
            <li >
               <a href="{% url "student_see" %}"><i class="fas fa-users"></i> <span>Manage Student</span> </a>
               
            </li>
             <li class="submenu">
                <a href="#"><i class="fas fa-user-graduate"></i> <span> Students</span> <span class="menu-arrow"></span></a>
                <ul>
                   <li><a href="{% url "list_student" %}">Student List</a></li>
                   <li><a href="{% url "add_student" %}">Student Add</a></li>
                   
                </ul>
             </li>
             <li class="submenu">
                <a href="#"><i class="fas fa-chalkboard-teacher"></i> <span> Teachers</span> <span class="menu-arrow"></span></a>
                <ul>
                   <li><a href="{% url "list_teacher" %}">Teacher List</a></li>
                   <li><a href="{% url "add_teacher" %}">Teacher Add</a></li>
                </ul>
             </li>
             
             
                
                
             <li >
               <a href="{% url "view_subject" %}"><i class="fas fa-book"></i> <span>Subject List</span></a>
            </li>
                   {% comment %} <li><a href="add-subject.html">Subject Add</a></li>
                   <li><a href="edit-subject.html">Subject Edit</a></li> {% endcomment %}
                  
               
               <li class="submenu">
                  <a href="#"><i class="fas fa-calendar-day"></i> <span> Attendance</span> <span class="menu-arrow"></span></a>
                  <ul>
                     <li>
                        <a href="{% url "take_attendance" %}"><i class="fas fa-calendar-day"></i> <span>Take Attendance</span></a>
                     </li>
                     <li >
                        <a href="{% url "admin_view_attendance" %}"><i class="fas fa-calendar-day"></i> <span> View Attendance</span> </a>
                     </li>
                  </ul>
               </li>

               
               <li class="menu-title">
                  <span>Management</span>
               </li>
               {% comment %} <li class="submenu">
                  <a href="#"><i class="fas fa-rupee-sign"></i> <span>Fee Structure</span> <span class="menu-arrow"></span></a>
                  <ul>
                     <li><a href="{% url "view_fees_structure" %}">Fee Structure List</a></li>
                     <li><a href="{% url "add_fees_structure" %}">Add Fee Structure</a></li>
                     </ul>
                     </li> {% endcomment %}
                     <li>
                        <a href="{% url "result" %}"><i class="fas fa-brain"></i> <span>Exam Management</span></a>
                     </li>
                     <li >
                        <a href="{% url "account_section_login" %}"><i class="fas fa-file-invoice-dollar"></i> <span>Accounts </span></a>
                     </li>
            {% comment %} <li class="submenu">
               <a href="#"><i class="fas fa-file-invoice-dollar"></i> <span> Accounts</span> <span class="menu-arrow"></span></a>
               <ul>
                  <li><a href="{% url "fees_collection" %}">Fees Collection</a></li>
                  
                  
               </ul>
            </li> {% endcomment %}
            {% comment %} <li>
               <a href="{% url "transport" %}"><i class="fas fa-bus"></i> <span>Transport</span></a>
            </li>
            <li>
               <a href="{% url "hostel" %}"><i class="fas fa-bed"></i> <span>Hostel</span></a>
            </li> {% endcomment %}


            
            {% comment %} <li >
               <a href=""><i class="fas fa-bell"></i> <span> Send Staff Notification</span> </a>
               
            </li> {% endcomment %}
            <li >
               <a href="{% url "student_send_notification" %}"><i class="fas fa-bell"></i> <span> Send Student Notification</span> </a>
               
            </li>
            <li >
               <a href="{% url "add_notifications" %}"><i class="fas fa-ring"></i> <span> Notice Board</span> </a>
               
            </li>
            <li >
               <a href="{% url "show_feedback" %}"><i class="fas fa-comment"></i> <span>Student Feedback</span> </a>
               
            </li>
            

             {% elif user.user_type == '2' %}
             <ul>
               <li class="menu-title">
                  <span>Main Menu</span>
               </li>
               <li class="submenu active">
                  <a href="#"><i class="fas fa-user-graduate"></i> <span> Dashboard</span> <span class="menu-arrow"></span></a>
                  <ul>
                     
                     <li><a href="{% url "staff_home" %}">Teacher Dashboard</a></li>
                     
                  </ul>
               </li>
               {% comment %} <li class="submenu">
                  <a href="#"><i class="fas fa-user-graduate"></i> <span> Students</span> <span class="menu-arrow"></span></a>
                  <ul>
                     <li><a href="students.html">Student List</a></li>
                     <li><a href="student-details.html">Student View</a></li>
                     <li><a href="{% url "add_student" %}">Student Add</a></li>
                     <li><a href="edit-student.html">Student Edit</a></li>
                  </ul>
               </li> {% endcomment %}
               
               {% comment %} <li class="submenu">
                  <a href="#"><i class="fas fa-building"></i> <span> Departments</span> <span class="menu-arrow"></span></a>
                  <ul>
                     <li><a href="departments.html">Department List</a></li>
                     <li><a href="add-department.html">Department Add</a></li>
                     <li><a href="edit-department.html">Department Edit</a></li>
                  </ul>
               </li> {% endcomment %}
               <li class="submenu">
                  <a href="#"><i class="fas fa-book-reader"></i> <span> Subjects</span> <span class="menu-arrow"></span></a>
                  <ul>
                     <li><a href="subjects.html">Subject List</a></li>
                     <li><a href="add-subject.html">Subject Add</a></li>
                     <li><a href="edit-subject.html">Subject Edit</a></li>
                  </ul>
               </li>
               <li class="submenu">
                  <a href="#"><i class="fas fa-pen"></i> <span> Notes</span> <span class="menu-arrow"></span></a>
                  <ul>
                     <li><a href="{% url "upload_notes" %}">Upload Notes</a></li>
                     <li><a href="{% url "home_works" %}">Upload H.W</a></li>
                     {% comment %} <li><a href="">Upload Daily Work</a></li> {% endcomment %}
                  </ul>
               </li>
               <li class="submenu">
                  <a href="#"><i class="fas fa-calendar-day"></i> <span> Attendance</span> <span class="menu-arrow"></span></a>
                  <ul>
                     <li>
                        <a href="{% url "take_attendance" %}"><i class="fas fa-calendar-day"></i> <span>Take Attendance</span></a>
                     </li>
                     <li >
                        <a href="{% url "admin_view_attendance" %}"><i class="fas fa-calendar-day"></i> <span> View Attendance</span> </a>
                     </li>
                  </ul>
               </li>
               <li >
                  <a href="{% url "student_send_notification" %}"><i class="fas fa-bell"></i> <span> Send Student Notification</span> </a>
                  
               </li>
               {% elif user.user_type == '4' %}
                  <li class="menu-title">
                     <span>Main Menu</span>
                  </li>
                  <li class="submenu active">
                     <a href="#"><i class="fas fa-user-graduate"></i> <span> Dashboard</span> <span class="menu-arrow"></span></a>
                     <ul>
                        <li><a href="{% url "accountant" %}" class="active">Accountant Dashboard</a></li>
                     </ul>
                  </li>
                  <li class="menu-title">
                     <span>Management</span>
                  </li>
                  
                  <li >
                     <a href="{% url "account_section_login" %}"><i class="fas fa-file-invoice-dollar"></i> <span>Accounts</span></a>
                  </li>
                  
                  <li>
                     <a href="{% url "transport" %}"><i class="fas fa-bus"></i> <span>Transport</span></a>
                  </li>
                  <li>
                     <a href="{% url "hostel" %}"><i class="fas fa-bed"></i> <span>Hostel</span></a>
                  </li>
               
               {% else %}
               <ul>
                  <li class="menu-title">
                     <span>Main Menu</span>
                  </li>
                  <li class="submenu active">
                     <a href="#"><i class="fas fa-user-graduate"></i> <span> Dashboard</span> <span class="menu-arrow"></span></a>
                     <ul>
                        <li><a href="{% url "student_home" %}">Student Dashboard</a></li>
                     </ul>
                  </li>
                  <li >
                     <a href="{% url "student_view" %}"><i class="fas fa-user"></i> <span> Student Profile</span> </a>
                     
                  </li>
                  
                  
                  
                  <li>
                     <a href="{% url "student_forum" %}"><i class="fas fa-pen"></i> <span>Student Forum</span></a>
                  </li>
                  
                  <li>
                     <a href="{% url "home_work" %}"><i class="fas fa-copy"></i> <span>Class Works</span></a>
                  </li>

                  <li>
                     <a href="{% url "result_view" %}"><i class="fas fa-graduation-cap"></i> <span>Result</span></a>
                  </li>
                  
                  <li class="menu-title">
                     <span>Management</span>
                  </li>
                  <li>
                     <a href="{% url "student_fees" %}"><i class="fas fa-comment-dollar"></i> <span>Fees</span></a>
                  </li>
                  <li>
                     <a href="{% url "feedback" %}"><i class="fas fa-comment"></i> <span>Feedback</span></a>
                  </li>
               {% endif %}

               








             {% comment %} <li class="menu-title">
                <span>Management</span>
             </li> {% endcomment %}
             {% comment %} <li class="submenu">
                <a href="#"><i class="fas fa-file-invoice-dollar"></i> <span> Accounts</span> <span class="menu-arrow"></span></a>
                <ul>
                   <li><a href="{% url "fees_collection" %}">Fees Collection</a></li>
                   <li><a href="expenses.html">Expenses</a></li>
                   <li><a href="salary.html">Salary</a></li>
                   <li><a href="add-fees-collection.html">Add Fees</a></li>
                   <li><a href="add-expenses.html">Add Expenses</a></li>
                   <li><a href="add-salary.html">Add Salary</a></li>
                </ul>
             </li> {% endcomment %}
             {% comment %} <li>
                <a href="holiday.html"><i class="fas fa-holly-berry"></i> <span>Holiday</span></a>
             </li>
             {% comment %} <li>
                <a href="{% url "student_fees" %}"><i class="fas fa-comment-dollar"></i> <span>Fees</span></a>
             </li> {% endcomment %}

             {% comment %} <li>
                <a href="exam.html"><i class="fas fa-clipboard-list"></i> <span>Exam list</span></a>
             </li>
             
             <li>
                <a href="time-table.html"><i class="fas fa-table"></i> <span>Time Table</span></a>
             </li>  {% endcomment %}
             <li>
                <a href="{% url "library" %}"><i class="fas fa-book"></i> <span>Library</span></a>
             </li>
             
             {% comment %} <li class="menu-title">
                <span>Others</span>
             </li>
             <li>
                <a href="sports.html"><i class="fas fa-baseball-ball"></i> <span>Sports</span></a>
             </li>
             <li>
                <a href="hostel.html"><i class="fas fa-hotel"></i> <span>Hostel</span></a>
             </li> {% endcomment %}
             <li>
               <a href="{% url "doLogout" %}"><i class="fas fa-sign-out-alt"></i> <span> Logout </span> </a>
            </li>
             
          </ul>
       </div>
    </div>
</div>